body {
  background-color: #22A89E;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: gray;
}

input {
  border-radius: 10px;
  border-style: none;
  margin: 5px;
}

#titled {
  font-size: 150px;
}

#title-wrapping {
}

#applist {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#login-page {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  padding-bottom: 200px;
}

#login-button {
  background-color: teal;
  color: white;
  border-style: none;
  height: 5vh;
  width: 12vh;
}

.listings {
  font-size: 24px;
}
