body {
  background-color: #22A89E;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: gray;
}

input {
  border-radius: 10px;
}

#titled {
  font-size: 150px;
}

#title-wrapping {
}

#applist {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.listings {
  font-size: 24px;
}
